@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@layer utilities{
    .font-inter {
        font-family: 'Inter', sans-serif;
    }
    .body-bg {
        background-color: #1A0B2E;
    }
    .linear-gradient-1 {
        background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    }
    .text-gradient-1 {
        color: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
  
    }



}